body{
	/*background-color: green;*/
	background-image: url("../images/hollywood.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
 button,
    div,
    form,
    input {
      margin: 10px;
    }

